@page "/moredetails"
<div class="image-container">
    <img src="Libraries/img/Manoj.png" class="small-image" />
</div>
<br />
<br />
<style>
    body {
        background-color: peachpuff;
        margin: 0;
        padding: 0;
        font-family: Calibri;
    }

    .image-container {
        text-align: right; /* Align the content to the right */
    }

    .small-image {
        max-width: 500px; /* Set the maximum width */
        max-height: 500px; /* Set the maximum height */
        width: inherit; /* Maintain aspect ratio */
        height: auto; /* Maintain aspect ratio */
        align-content: flex-end;
    }

    h1 {
        color: black; /* Set text color */
        font-size: 2em; /* Set font size */
        font-weight: bold; /* Set font weight */
        text-align: left;
    }
</style>
@code {

}
